/*Style is use in all pages*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);
@import url("typography.css");
@import url("nav/default.css");
@import url("kendoui/kendo.common-bootstrap.min.css");
@import url("kendoui/kendo.bootstrap.min.css");
@import url("kendoui/bootstrap-reset.css");

/***************************************************/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 100px 15px 0px;
}
body > .container-last{
  padding-bottom: 70px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/* Home page */
/* splash image */
.backsplash{
  width:100%;
  height:625px;
  background-image: url("../img/landing-background.jpg");
  top:0;
  z-index:-1;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.home-title{
  margin-bottom:0px; 
}
.home-subtitle{
  text-indent: 100px;
  position: relative;
  top: -30px;
}
.vertical-middle{
    display: table-cell;
    vertical-align: middle;
}

.mask-backgroud{
  padding-top: 100px;
  z-index: 1;

}
#customers {
  border-top: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
  padding: 2em 0;
}
#customers img {
  margin: .5em .8em;
  opacity: .6;
  transition: all .3s ease-out 0;
}
.section-odd {
  border-top: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
  padding: 2em 0;
  background-color: #f8f8f8;
}
.section-even {
  padding: 2em 0;
  background-color: #fff;
}
.feature {
  margin-top: 2.25rem;
}
.feature_icon {
  width: 2rem;
  height: 2rem;
  float: left;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
.feature_icon i{
  font-size: 24px;
}

/**Page layout **/
.same-height{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#same-height-wrapper {
    overflow: hidden; 
}

.signup-col{
    background-color:#fbfbfb;
}
.signup-col:after{
    background-color:#fbfbfb;
}