/** **/
.nav-user{
	position: relative;
}

.user-name-title{
   font-size: 25px;
   color: rgba(255, 255, 255, 1);
   font-weight: lighter;
   padding-left: 15px;
}
.nav-user{
   background-color: #363B48;
   border-radius: 0;
   padding:15px 0;
   display: block;
   position: relative;
}
/* Overwrite */
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
   background-color: #363B48;
   border: none;
   border-radius: 0;
}
.navbar-default .navbar-brand{
   color: #fff;
}
.navbar-default .navbar-nav>li>a{
   color: #fff;
}

/* Sub Navigation */
.account-subnavigation {
   background: #fafafa;
   position: relative;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.account-subnavigation ul {
   width: 100%;
   padding: 0;
}
.account-subnavigation .nav>li:first-child {
   border-left: 1px solid #d5d5d5;
}
.account-subnavigation .nav>li:last-child {
   border-right: 1px solid #d5d5d5;
}
.account-subnavigation .nav>li {
   height: 80px;
}
.account-subnavigation .nav>li a {
   color: #959595;
   cursor: pointer;
   background-color: transparent;
}
.account-subnavigation .nav>li a:focus, .account-subnavigation .nav>li a:hover {
   color: #000;
   background-color: transparent;
}
.account-subnavigation .nav>li:focus, .account-subnavigation .nav>li:hover {
   color: #000;
   background-color: #eee;
}
.account-subnavigation .nav>li.selected, .account-subnavigation .nav>li.selected a, .account-subnavigation .nav>li.selected:hover, .account-subnavigation .nav>li:hover, .account-subnavigation .nav>li:hover a {
   color: #000;
   background-color: none;
}

.account-subnavigation .nav>li a {
   padding: 18px 6px 16px;
   line-height: 1.1;
   height: 100%;
}
.account-subnavigation span.icon-am {
   font-size: 25px;
   margin-bottom: 3px;
}
.account-subnavigation span {
   display: block;
   letter-spacing: .05ex;
}
.account-subnavigation .nav>li {
   width: 16.65%;
}
.account-subnavigation .nav>li {
   text-align: center;
   font-size: 12px;
   color: #999;
   border-right: 1px solid #d5d5d5;
   border-left: 1px solid #fff;
}
.section-title{
   font-weight: lighter;
   font-size: 30px;
   border-bottom: 1px solid #333;
   display: block;
   margin-bottom: 20px;
}
.section-description p{
   font-size: 18px;
}
.item-list-dashboard .row{
   margin-bottom: 10px;
   min-height: 105px;
}